body {
  text-align: center;
  font-family: helvetica;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.background {
  background-image: url(../the-flatiron-building.png);
}
.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
  font-size: 11px;
}
#nav {
  color: white;
  font-size: 18px;
}
#link {
  color: white;
  font-weight: bold;
  
}
