body {
  text-align: center;
  font-family: helvetica;
}
h1 {
  font-size: 70px;
}
.background {
  background-image: url(../the-flatiron-building.png);
  color: white;
  font-weight: bold;
}
.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
  font-size: 11px;
}
.footer a {
  font-weight: bold;
}
.background a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
.descr {
  font-size: 14px;
}
